{% extends 'layout.html' %}
{% block body %}
<div class="container">
	<div class="row centered mt mb">
	

{% if latest_question_list %}
{% for question in latest_question_list %}
	<div class="col-lg-4 col-md-4 col-sm-4 gallery">
		<a href="{% url 'polis:detail' question.id %}">{{ question.question_text }}</a>
	</div>
{% endfor %}
	
{% else %}
<div class="col-lg-4 col-md-4 col-sm-4 gallery">
		No polls are available.
</div>

{% endif %}

	
	
	
	</div>
</div>
{% endblock %}